



.login-body{
    display:flex;
    align-items:center;

    flex-direction:column;
    padding:5em;
    min-height:max-content
}

.login-body h1{
    padding-bottom:1em;
}

.login-body .btn{
    width: 5%;
}


