.alert-success {
    background-color: grey
}

.alert-warning {
    background-color: darkorange;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: grey;
}

.alert{
    text-align: center;
    width:75%
}

/*links*/
nav a:link{
    color:white;
    text-decoration: none;
}
nav a:hover{
    color:white;
    text-decoration: underline;
    background-color: grey;
    padding: 8px;
}

/*nav li{display: inline; background-color: black;}*/
nav li a{color: white}

body{
    background-color: darkslategray;
    color: white;
}

.navbar-brand{
  
    font-family: OCR A Std, monospace;
}